---
---
<div class="secondary-brown text-white p-20 flex justify-between items-center">
    <a href="/">
  <img src="logo_white.png" alt="logo" class="h-12">
</a>
<div class="flex space-x-2 items-center">
<a href="https://www.linkedin.com/in/julie-fox-petersen-23932637a/">
  <img src="linkedin.png" alt="linkedin knap" class="h-15">
</a>
<a href="https://www.instagram.com/juliefoxp/">
  <img src="instagram.png" alt="instagram knap" class="h-12">
</a>
</div>
</div>
<h3 class="secondary-brown text-white text-center pb-3">© 2025 Julie Fox Petersen</h3>

 